.footer {
  width: 100vw;
  height: auto;

  padding-block: 60px;
  padding-inline: 120px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;

  background-image: url("../../../public/image/footer/footer_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* border-bottom: 1px solid var(--purple); */
}
.info_container {
  max-width: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
}
.title {
  font-size: var(--size-xxl);
}
.title span {
  color: var(--purple);
}
.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item_title {
  font-size: var(--size-m);
}
.social_container {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: var(--size-l);
}
.icon_container {
  transition: ease 0.3s;
}
.icon_container:hover {
  color: var(--purple);
}
.img_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.copy {
  font-size: var(--size-xs);
}
@media (max-width: 1024px) {
  .footer {
    padding-block: 30px;
    padding-inline: 60px;

    flex-direction: column-reverse;
    justify-content: flex-start;

    background-image: none;
    background-color: var(--purple-op);
  }
  .img_container {
    width: 100%;
    align-items: center;
  }
  .title span {
    color: var(--blue);
  }
}
@media (max-width: 768px) {
  .footer {
    padding-inline: 30px;
  }
  .info_container {
    max-width: 300px !important;
  }
}
