.about {
  width: 100vw;
  height: calc(100vh - 60px); /*60 px de nav*/

  padding-bottom: 60px; /* solo en este caso por el nav , en otro caso block*/
  padding-inline: 120px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;

  background-image: url("../../../../public/image/about/about_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.description_container {
  height: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-size: var(--size-xxl);
}
.logo {
  font-size: var(--size-m);
}
.description {
  line-height: 1.8;
  font-size: var(--size-xs);
}
.description span {
  color: var(--blue);
}
.description_links {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.link_web {
  transition: ease 0.3s;
}
.link_web:hover {
  color: var(--purple);
}
@media (max-width: 1024px) {
  .about {
    height: auto;

    padding-block: 30px;
    padding-inline: 60px;

    flex-direction: column;

    background-image: none;
  }
  .description_container {
    max-width: none;
    width: 100%;
    gap: 30px;
  }
  .description_links {
    width: 100%;
    justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  .about {
    padding-inline: 30px;
  }
}
