.faq {
  width: 100vw;
  min-height: 100vh;

  padding-inline: 100px;
  padding-block: 80px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  background-image: url("../../../../public/image/faqs/faqs_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* border-bottom: 1px solid var(--purple); */
}
.title {
  font-size: var(--size-xxl);
  letter-spacing: 2px;
}
.question_container {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 20px;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title_question {
  font-size: var(--size-m);
}
.body_question {
  line-height: 1.8;
  font-size: var(--size-xs);
}
.line {
  width: 300px;
  height: 2px;
  background: var(--gradient);
}
@media (max-width: 1024px) {
  .faq {
    min-height: auto;
    flex-direction: column;
    gap: 80px;
    justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  .faq {
    padding-inline: 20px;
  }
  .question_container {
    width: 360px;
  }
}
