.services {
  width: 100vw;
  height: 100vh;

  padding-block: 60px;
  padding-inline: 120px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 60px;

  background-image: url("../../../../public/image/services/services_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* border-bottom: 1px solid var(--purple); */
}
.title {
  font-size: var(--size-xxl);
  text-align: center;
  letter-spacing: 2px;
}

.card_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
.card {
  max-width: 400px;
  min-height: 400px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  background: var(--purple-op);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
}
.card_title {
  text-align: center;
  font-size: var(--size-m);
  padding-bottom: 10px;
  border-bottom: 2px solid var(--purple);
}
.card_description {
  line-height: 1.8;
}
@media (max-width: 1024px) {
  .services {
    height: auto;

    padding-block: 30px;
    padding-inline: 60px;

    background-image: none;
    background-color: var(--purple-op);
  }
  .title {
    text-align: start;
  }
  .card_container {
    height: auto;
    flex-direction: column;
  }
  .card {
    background: var(--gray-op);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}
@media (max-width: 768px) {
  .services {
    padding-inline: 30px;
  }
}
