.switch {
  font-size: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.7em;
  height: 1.8em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider_container {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--gray);
  transition: 0.2s;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.4em;
}

/* Estilos para los iconos */
.sun,
.moon {
  font-size: 12px;
  z-index: 0; /* Detrás del slider */
  color: var(--black);
}

.slider {
  position: absolute;
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 0.2em;
  background-color: var(--gray);
  transition: 0.3s;
  z-index: 1; /* Encima de los iconos */
}

input:checked + .slider_container .slider {
  transform: translateX(1.7em);
}
